body {background:#111111; color: #FCFCFC; font: 16px Helvetica, arial, sansserif, FuturaBold; text-decoration:none; }

ul {
  list-style-type: none;
  margin: 10;
  padding: 10 0 0 10;
}

img {max-height: auto; max-width: 500px;}


/* DROPDOWN MENU */

/* Dropdown Button */
.dropbtn {
  background-color: #111111;
  color: red;
  padding: 10px;
  margin-left: 20px;
  font-size: 27px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  color: #111111;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  overflow: auto;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd; }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #111111; color: white;}

/* CONTAINER */

.container {

  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(30em, 1fr));
  justify-content: center;
  padding: 60px;


}

.item {
  padding: 20px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;


}

.name {

margin: 0px 0px 0px 220px;
color:#f1f1f1;

}


@media only screen and (max-width: 800px) {

img {

width: 70%;
}
  }

.item {
  padding: 10px 0px 10px 0px;


}

.name {

margin: 0px 0px 0px 200px;


}

.dropbtn {

  margin-left: 10px;

}


}
